.navbtn ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.navbtn li a {
  display: block;
  width:100px;
  padding: 8px 16px;
  background-color: #dddddd;
  text-decoration: none;
  color: black;
}

.navbtn .active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}