
body {
  margin:0;
  font-family:"Lato";
}

h1 {
  font-family: "Lato";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.4px;
}
h2 {
  font-family: "Lato";
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.4px;
}
h3 {
  font-family: "Lato";
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Lato";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: "Lato";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

ul.sidenav {
  list-style-type: none;
  margin:0;
  padding:0;
  width:15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  padding: 12px 16px;
  color: #000;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #77bdf1;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.landing-bdy {margin-left: 0;}
    div.messages-container {margin-left: 0;}
}

@media screen and (max-width: 600px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

.landing-bdy {
  margin-left:15%;
  padding:1px 16px;
  height:1000px;
}

.summary {
  border:1px solid black;
  width: 40%;
  height: 40%;
  float: left;
  margin: 20px 20px 20px 20px;
  cursor: pointer;
}

.pf-thumbnail {
  border:1px solid black;
  float: left;
  height: 30%;
  width: 30%;
  text-align: center;
}

.profile-pic {
  height: 30%;
  width: 30%;
  border:1px solid black;
}


input[type=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]{
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


.chores-table th, td {
   border: 1px solid #d6ebfa;
   height: 35px;
   font-size: 20px;
   padding: 8px;
}

.chores-table {
  width: 100%;
  border-collapse: collapse;
}

.chores-table th {
  text-align: left;
}

.chores-table tr:nth-child(even) {
    background-color: #d6ebfa;
}

.payment-table th, td {
   border: 1px solid #d6ebfa;
   height: 35px;
   font-size: 20px;
   padding: 8px;
}

.payment-table {
  width: 100%;
  border-collapse: collapse;
  /*border:1px solid black;*/
}

.payment-table th {
  text-align: left;
}

.payment-table tr:nth-child(even) {
    background-color: #d6ebfa;
}

.messages-container {
  height:100%;
  margin-left:15%;
  width:85%;
}
.messages {
  padding:1% 3%;
  height:100vh;
  width: 95%;
}

.chat {
  padding:1% 3%;
  height:100vh;
  width: 95%;
  float: right;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    width: 95%;
    float:center;
    cursor: pointer;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

ul.curr-messages {
  list-style-type: none;
  margin:0;
  padding:0;
  width:15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.add-button {
  margin-top: 20px;
  background-color: #77bdf1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.view-button{
    background-color: #77bdf1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.table-complete-button{
    background-color: #5db761;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.table-edit-button{
    background-color: #77bdf1;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.table-remove-button{
    background-color: #77bdf1;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.chat-back-btn {
    background-color: #77bdf1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    height: 50px;
    vertical-align: center;
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}


/* to hide table edit fields */
#spoiler{
 display: none;
}

#add_spoiler{
 display: none;
}
