
body {
  margin:0;
}

ul.sidenav {
  list-style-type: none;
  margin:0;
  padding:0;
  width:15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  padding: 12px 16px;
  color: #000;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #77bdf1;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 600px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

.landing-bdy {
  margin-left:15%;
  padding:1px 16px;
  height:1000px;
}

.summary {
  border:1px solid black;
  width: 40%;
  height: 40%;
  float: left;
  margin: 20px 20px 20px 20px;
  cursor: pointer;
}

.pf-thumbnail {
  border:1px solid black;
  float: left;
  height: 30%;
  width: 30%;
  text-align: center;
}

.profile-pic {
  height: 30%;
  width: 30%;
  border:1px solid black;
}


input[type=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
} 

input[type=chat] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.chores-table th, td {
   border: 1px solid #d6ebfa;
   height: 35px;
   font-size: 20px;
   padding: 8px;
}

.chores-table {
  width: 100%;
  border-collapse: collapse;
  /*border:1px solid black;*/
}

.chores-table th {
  text-align: left;
}

.chores-table tr:nth-child(even) {
    background-color: #d6ebfa;
}

.payment-table th, td {
   border: 1px solid #d6ebfa;
   height: 35px;
   font-size: 20px;
   padding: 8px;
}

.payment-table {
  width: 100%;
  border-collapse: collapse;
  /*border:1px solid black;*/
}

.payment-table th {
  text-align: left;
}

.payment-table tr:nth-child(even) {
    background-color: #d6ebfa;
}

.messages-container {
  height:100%;
  margin-left:15%;
  width:85%;
  border:1px solid black;
}
.messages {
  padding:1% 3%;
  height:100vh;
  width: 19%;
  border:1px solid black;
}

.chat {
  padding:1% 3%;
  height:100vh;
  width: 69%;
  border:2px solid black;
  float: right;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 95%;
    float:center;

}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
    background-color: #d6ebfa;
}

ul.curr-messages {
  list-style-type: none;
  margin:0;
  padding:0;
  width:15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.add-button {
  margin-top: 20px;
}

.view-button{
  
}
